@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "IBM Plex Sans", sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  background: #fafcfd;
  padding: 100px 50px;
  text-align: center;
  @media (max-width: 480px) {
    padding: 100px 20px;
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
    color: #0e1238;
    margin-bottom: 50px;
    @media (max-width: 480px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .container {
    max-width: 1122px;
    margin: 0 auto 50px;
    text-align: left;
    > h4 {
      font-size: 22px;
      font-weight: bold;
      color: #151926;
      margin-bottom: 40px;
    }
    .api-list {
      display: flex;
      margin: 0 -7px;
      flex-flow: row wrap;
      .api-item {
        flex: 0 1 calc(100% / 3 - 14px);
        margin: 0 7px 14px;
        display: flex;
        @media (max-width: 980px) {
          flex: 0 1 calc(50% - 14px);
        }
        @media (max-width: 680px) {
          flex: 0 1 calc(100%);
        }
      }
    }
  }
}
